<!-- remover quando for refaturar  -->
<app-navbar></app-navbar>
<!-- ---------------------------------- -->
<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <div class="conDev bg-dark">
            <h3 style="text-align: center;">ConDev</h3>
        </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <form class="contS-L bg-dark">
            <h1 class="text-center titulo">Cadastrar-se</h1>
            <span class="ui-float-label input" style="margin-top: 10px;">
                <input id="float-input" type="text" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">Nome comercial:</label>
            </span>
            <span class="ui-float-label input" style="margin-top: 20px;">
                <input id="float-input" type="text" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">E-mail:</label>
            </span>
            <span class="ui-float-label input" style="margin-top: 20px;">
                <input id="float-input" type="text" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">Cnpj</label>
            </span>
            <div class="form-group" style="margin-top: 20px;">
                <select class="form-control input bgColor btn-outline-secondary">
                    <option class="input">1 - 50 funcionários</option>
                    <option class="input">51 - 100 funcionários</option>
                    <option class="input">101 - 500 funcionários</option>
                    <option class="input">500 + funcionários</option>
                </select>
            </div>
            <span class="ui-float-label input" style="margin-top: 20px;">
                <input id="float-input" type="password" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">Senha:</label>
            </span>
            <span class="ui-float-label input" style="margin-top: 20px;">
                <input id="float-input" type="password" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">Confirmar Senha:</label>
            </span>
            <button type="button " routerLink="" class="btn btn-secondary btn-block mt-2">CANCELAR</button>
            <button type="button " class="btn btn-info btn-block mt-2">CADASTRAR-SE</button>
            <button type="button " routerLink="/signtipo" class="btn btn-outline-success btn-block mt-2">Trocar tipo do Cadastro</button>
            <button type="button " routerLink="/login" class="btn btn-outline-secondary btn-block mt-2">Ja posuo uma conta</button>
        </form>
    </div>
</div>