<app-navfeed></app-navfeed>
<div class="ui-g">
    <div class="ui-md-3"></div>
    <div class="ui-md-6">
        <div class="contS-L bg-dark">
            <div class="post bg-dark">
                <div>
                    <img class="postImg" src="../../assets/temporario/la.jpg" alt="">
                    <p class="postTX">A Olympus Corporation é uma empresa japonesa de equipamentos ópticos. Fundada por Takeshi Yamashita, começou suas operações em outubro de 1919 produzindo microscópios e termômetros.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-md-3"></div>
</div>