<!-- remover quando for refaturar  -->
<app-navbar></app-navbar>
<!-- ---------------------------------- -->
<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <div class="conDev bg-dark">
            <h3 style="text-align: center;">ConDev</h3>
        </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <form class="contS-L bg-dark">
            <h3 class="text-center titulo">Esqueci a Senha</h3>
            <span class="ui-float-label input" style="margin-top: 10px;">
                <input id="float-input" type="text" class="form-control bgColor btn-outline-secondary ">
                <label for="float-input">E-mail:</label>
            </span>
            <hr>
            <button type="button " routerLink="" class="btn btn-secondary btn-block mt-2">CANCELAR</button>
            <button type="button " routerLink="/login/loginalterar" class="btn btn-info btn-block mt-2">ENVIAR</button>
            <button type="button " routerLink="/signtipo" class="btn btn-outline-secondary btn-block mt-2">Criar nova conta</button>
        </form>
    </div>
</div>