    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-5">
                <div class="ui-g-12">
                    <img src="assets/img/user/user.svg" style="max-width: 140px;margin-left: 80px;">
                    <div style="max-width: 100px; position: relative; left: 100px;">
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" [auto]="true"></p-fileUpload>
                    </div>
                    <h3>Suas Tags</h3>
                    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="ui-g-12 ui-md-7">
                <div class="ui-g-12">
                    <h3 class="first" style="text-align: center;">Atualize seus dados</h3>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
                        <input size="40" type="text" pInputText placeholder="Novo nome" pTooltip="Digite um novo nome">
                    </div>
                    <br>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input size="40" type="text" pInputText placeholder="Novo email" pTooltip="Digite um novo email">
                    </div>
                    <br>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
                        <input size="40" type="text" pInputText placeholder="Nova localização" pTooltip="Digite uma nova localização">
                    </div>
                    <br>
                    <h3>Fale um pouco sobre você</h3>
                    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                </div>
            </div>
        </div>
    </div>
   



















<!-- <h3 class="first" style="text-align: center;">Edição de perfil</h3>
        <div class="ui-g">
            
                
                  
                </div>
                <div class="ui-g-2">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
                        <input size="40" type="text" pInputText placeholder="Novo nome" pTooltip="Digite um novo nome">
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input type="email" size="40" type="text" pInputText placeholder="Novo email"
                                pTooltip="Digite um novo email">
                        </div>
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                            <input size="40" type="password" pPassword pTooltip="Digite uma nova senha" placeholder="Nova senha" />
                        </div>
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
                            <input size="40" type="password" pPassword pTooltip="Digite sua localidade" placeholder="Sua localidade" />
                        </div>
                    </div>
                    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                </div>
              
            </div>
        </div>
 -->