<h4>{{ title }}</h4>
<ul *ngIf="courses.length > 0">
  <li *ngFor="let course of courses">
    {{ course }}
    <button mat-button color="warn" (click)="onRemove(course)">Remove</button> |
    <button mat-button color="accent" (click)="onEdit(course)">Edit</button>
  </li>
</ul>
<div *ngIf="courses.length == 0"> No courses yet</div>
<br/>
<input 
  matInput
  type="text"
  #inputText
  placeholder="place a course"
/>
<button mat-button color="primary" (click)="pushItemOnTheList(inputText.value)">Click me</button>
<!-- <figure>
  <figcaption>how to use image</figcaption>
  <img [src]="imageUrl" alt="placehold" />
</figure>
<button mat-button color="primary" (click)="onCount()">Click me</button> -->
