
 
<!-- <p-carousel styleClass="custom-carousel" [value]="fitas" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template let-item pTemplate="fitas">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="carousel-caption">
                <p-card header="{{item.nome}}" subheader="{{item.ano}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                    <p-header>
                        <img src="Card" src="{{item.link}}">
                    </p-header>
                    <div>{{item.descricao}}</div>
                    <p-footer>
                        <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
                        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </ng-template>
</p-carousel>
<div class="content-section implementation-charts">
    <p-chart type="pie" [data]="data" [options]="chartOptions"></p-chart>
</div> -->