<p-toolbar styleClass="bg-dark" [style]="{'border':'0px'}">
    <div class="ui-toolbar-group-left">
        <a class="navbar-brand" style="color: azure;" routerLink="">ConDev</a>
    </div>
    <div class="ui-toolbar-group-right">
        <button type="button" routerLink="/signtipo" label="Cadastrar" pButton style=" margin-top: 2px; margin-left: 10px;" class="ui-buttonlink"></button>
        <button type="button" routerLink="/login" label="Entrar" pButton style=" margin-top: 2px; margin-left: 10px;" class="ui-button-success"></button>
    </div>
</p-toolbar>