<!-- remover quando for refaturar  -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">ConDev</a>
    <form class="form-inline ml-auto">
        <div>
            <button type="button" routerLink="/signtipo" class="btn btn-link">Cadastrar</button>
        </div>
        <button type="button" routerLink="/login" class="btn btn-success ">Entrar</button>
    </form>
</nav>
<!-- ---------------------------------- -->
<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <div class="conDev bg-dark">
            <h3 style="text-align: center;">ConDev</h3>
        </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <form class="contS-L bg-dark">
            <button type="button " routerLink="/signtipo/signdev" class="btn btn-outline-primary btn-block mt-2 ">Desenvolvedor</button>
            <button type="button " routerLink="/signtipo/signemp" class="btn btn-outline-success btn-block mt-2">Empresa</button>
        </form>
    </div>
</div>