<!-- <style>
  .handleCssOverwritting {
  background-color: blue;
}
</style> -->
<!-- <div class="handleCssOverwritting">

</div> -->

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ng-content select=".heading"></ng-content>
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <p>
      <ng-content select=".body"></ng-content>
    </p>
  
  </mat-expansion-panel>