<!--Mensagens de avisos-->
<div>
    <p-messages [(value)]="msgs"></p-messages>

    <h2>Menssagem comum</h2>
    <div>
        <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
        <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
        <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
        <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
        <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
        <button type="button" pButton (click)="clear()" icon="pi pi-times" style="float:right" label="Clear"></button>
    </div>
</div>
<div>
    <h2>Menssagem toasty</h2>
    <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
    <button type="button" pButton (click)="showTopCenter()" label="Top Center" class="ui-button-info"></button>

</div>

<div>
    <h2>Confirmação termos de uso</h2>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <button type="text" (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>
</div>

<div>
    <h2>Tooltip</h2>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
        </div>
    </div>
</div>

<div>
    <h2>lightbox</h2>
    <p-lightbox [images]="images" easing="ease-in" effectDuration="300ms" autoZIndex="3"></p-lightbox>
</div>

<div>
    <h2>Upload photos</h2>
    <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
</div>




<!-----------------------------------FORMULARIO VALID---------------------->

<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    First Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error" [text]="userform.controls['password'].errors['required'] ? 'Password is required' : userform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                        *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Description:
                </div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea type="text" formControlName="description"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Gender *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Gender is required" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br>
                {{diagnostic}}
            </div>
        </div>
    </p-panel>
</form> -->