<!--Mensagens de avisos-->
<div>
    <p-messages [(value)]="msgs"></p-messages>

    <h2>Menssagem comum</h2>
    <div>
        <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
        <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
        <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
        <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
        <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
        <button type="button" pButton (click)="clear()" icon="pi pi-times" style="float:right" label="Clear"></button>
    </div>
</div>

<div>
    <h2>Menssagem toasty</h2>
    <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
    <button type="button" pButton (click)="showTopCenter()" label="Top Center" class="ui-button-info"></button>

</div>

<div>
    <h2>Confirmação termos de uso</h2>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <button type="text" (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>
</div>

<div>
    <h2>Tooltip</h2>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
        </div>
        <div class="ui-g-12 ui-md-3">
            <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
        </div>
    </div>
</div>

<div>
    <h2>lightbox</h2>
    <p-lightbox [images]="images" easing="ease-in" effectDuration="300ms" autoZIndex="3"></p-lightbox>
</div>

<div>
    <h2>Upload photos</h2>
    <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
</div>