<h3>Sobre nós</h3>
<div class="ui-g">
    <div class="ui-g-12 ui-md-2">
        <div class="ui-g-12 ui-md-12"><img src="assets/img/equipe/condev.png" style="width:100%"></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, orci nec dictum convallis, ligula mauris
        vestibulum turpis, nec varius tortor quam at diam. Nullam a viverra nibh. In tincidunt tempor lectus quis
        vulputate. Pellentesque nec dui aliquam, lobortis est in, lobortis ante
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <h2>Motivação</h2>
                    Criar uma ponte de soluções para o mercado da grande Vitória, promovendo encontro de profissionais
                    da área de tecnologia com pequenas e grandes empresas, com seus pequenos e grandes projetos,
                    diminuindo o déficit de interação entre ambas as partes. Fortalecer a comunicação online,
                </div>
                <div class="ui-g-12 ui-md-4">
                    <h2>Público alvo</h2>
                    Pequenas e grandes empresas que estejam interessadas em interagir com o mercado de trabalho seja
                    estudando, contratando ou buscando inovações. também profissionais formados ou em formação para o
                    mercado que pretendem conseguir uma vaga de trabalho ou simplesmente agregar valor
                </div>
                <div class="ui-g-12 ui-md-4">
                    <h2>Objetivo geral</h2>
                    Alavancar o número de empregos e startups na mercado tendo mais profissionais disponíveis para
                    contribuir com seus projetos e por consequência gerar mais empregos através da plataforma, para
                    tornar possível a busca de trabalho, contratação, network e inovações.
                </div>
                <div class="ui-g">
                    <div class="ui-g-6 ui-md-1"><img style="width:50%"></div>
                    <div class="ui-g-6 ui-md-2"><img src="assets/img/equipe/victorH.png" style="width:100%"></div>
                    <div class="ui-g-6 ui-md-2"><img src="assets/img/equipe/victor.png" style="width:100%"></div>
                    <div class="ui-g-6 ui-md-2"><img src="assets/img/equipe/tiago.png" style="width:100%"></div>
                    <div class="ui-g-6 ui-md-2"><img src="assets/img/equipe/caio.png" style="width:100%"></div>
                    <div class="ui-g-6 ui-md-2"><img src="assets/img/equipe/caio.png" style="width:100%"></div>
                </div>
                <div class="ui-g" style="margin-left: auto; margin-right: auto;">
                    <div  class="ui-g-12 ui-md-6">
                            <div class="ui-g-12 ui-md-6"></div>
                        <div class="ui-g-6 ui-md-2">
                            <img src="assets/img/equipe/git.svg" style="width:100%">
                        </div>
                        <div class="ui-g-6 ui-md-2">
                            <img src="assets/img/equipe/face.png" style="width:100%">
                        </div>
                        <div class="ui-g-6 ui-md-2">
                            <img src="assets/img/equipe/gmail.png" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>